/*ELEMENTS*/
body {
    display: block;
    font-family: "SUSE", sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: #999280;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 0;
    width: 100%;
    z-index: 10;
    background-color: #4C453C;
}
nav {
    display: flex;
    justify-content: space-around;
}
.about,
.gallery,
.quote,
.contact {
    margin: 4em auto;
}

/*Header Section*/
nav a {
    color:azure;
    display: inline-block;
    padding: 1.2em;
    text-decoration:none;
    font-size: 1.5rem;
}
.title {
    display: flex;
    height: 40rem;
    background: linear-gradient(rgba(138,155,123,0.5), rgba(138,155,123,0.4)), url(images/mountain-top.jpg);
    background-size: cover;
    background-position: 0% 30%;
}
.title h1 {
    flex-direction: column;
    align-items: center;
    color:azure;
    margin-top: 15rem;
    font-size: 3rem;
    padding: 2rem;
    width: 100%;
    text-align: center;
}

/*About Section*/
.about {
    padding: 0 1rem;
}
.about h2 {
    font-size: 1.8rem;
    text-align: center;
}
.about p {
    font-size: 1.25rem;
    text-align: center;
}
.about a {
    text-decoration: none;
    color: azure;
}

/*Gallery Sections*/
.gallery img {
    width: 30%;
    margin: 1.5%;
}

/*Quote Section*/
.quote h2 {
    font-family: "Lora", serif;
    font-size: 2rem;
    text-align: center;
}
.quote p {
    font-family: "Lora", serif;
    font-size: 1.25rem;
    padding-left: 25em;
    text-align: center;
}
/*Contact Section*/
.contact {
    margin-bottom: 2rem;
    background-color: #4C453C;
    padding: 10px;
}
.contact h2 {
    text-align: center;
    font-size: 2rem;
    color: azure;
}
.contact img {
    width: 35%;
    height: auto;
    display: block;
    margin: auto;
}
/*Footer Section*/
.footer {
    display: flex;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    z-index: 10;
}
.footer a {
    display: inline-block;
    font-size: 1rem;
    padding: 0.4rem;
    color: black;
    text-decoration: none;
}
/*Media*/
@media only screen and (max-width: 1048px){
    .gallery img {
        width:100%,
        margin-left:auto
        margin-right: auto;
    }
}

@media only screen and (max-width: 640px){
    .title {
        max-height: 200px;
    }
    .title h1 {
        margin-top: 2rem;
    }
    .gallery img {
        width:100%;
        margin-left:auto
        margin-right: auto;
    }
    nav {
       display: block;
    }
    nav a {
        text-align: center;
    }
    .quote h2 {
       font-size: 1.35em;
    }
    .quote p {
        font-size: 1rem;
        padding-left: 0em;
        text-align: center;
    }
    .footer a {
        text-decoration: underline;
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 320px){
    .quote {
        width:80%;
    }
    .quote h2 {
       font-size: 1em;
    }
    .gallery img {
        width:100%,
    }
}